.container_1{
    max-width:50%;
    width: 25%;
    margin:auto;
    background-color:whitesmoke;
    border-width: 2px;
    border-style: solid;
    border-color: black;
    margin-top: 20px;
}

.botones{
    margin:0px;
    padding:0px;
}

#number{
    margin:0px;
    padding:10px;
}